body {
    margin: 0;
    padding: 0; 
    background-color:gray;
    font-family:helvetica, arial, sans-serif;
}
#map { 
    position: absolute; 
    width:100%; 
    top:0; 
    bottom:0;

}
#locInput{
    border-radius:5px;
    width:80%;
    height:70px;
    border:none;
    transform:translate(0,0);
}
#modeButton{
    border-radius:5px;
    width:70px;
    height:75px;
    margin:none;
    border:none;
    background-color:rgb(89, 130, 255);
    transform:translate(0,0);
}
#modeButton:hover {
    background-color:rgb(59, 92, 190);
}
#locationButton{
    border-radius:5px;
    width:70px;
    height:75px;
    margin:none;
    border:none;
    background-color:rgb(89, 130, 255);
    transform:translateY(6.5px);
    color:white;
}
#locationButton:hover {
    background-color:rgb(59, 92, 190);
}

#everythingbox{
    text-align:center;
}
#enterButton{
    background-color:rgb(89, 130, 255);
    width:80px;
    height:80px;
    border-radius:40px;
    color:white;
    text-align:center;
    display:block;
    position:absolute;
    transform:translate(99vw);
}


.dropdown-content{
    transform:translateY(-10px);
    display:grid;
    grid-template-areas: 'walk drive bus bike';
    gap:10px;
    width:min-content;
    margin-left:8%;
}
#walk{
    grid-area:walk;
    display:inline-block;
    color:white;
    background-color:rgb(89, 130, 255);
    border-radius:15px;
    height:30px;
    width:150px;
    font-size:20px;
    padding-top:5px;
}
#drive{
    grid-area:drive;
    display:inline-block;
    color:white;
    background-color:rgb(89, 130, 255);
    border-radius:15px;
    height:30px;
    width:150px;
    font-size:20px;
    padding-top:5px;
}
#bus{
    grid-area:bus;
    display:inline-block;
    color:white;
    background-color:rgb(89, 130, 255);
    border-radius:15px;
    height:30px;
    width:150px;
    font-size:20px;
    padding-top:5px;
}
#bike{
    grid-area:bike;
    display:inline-block;
    color:white;
    background-color:rgb(89, 130, 255);
    border-radius:15px;
    height:30px;
    width:150px;
    font-size:20px;
    padding-top:5px;
}


@media (max-width: 800px){
    #locInput{
        width:60%;
    }
    .dropdown-content{
        grid-template-areas: 'walk drive' 'bus bike';
        margin-left:5%;
    }
}

@keyframes slidein{
    100%{
        transform:translate(93vw);
    }
}
@keyframes slideout{
    100%{
        transform:translate(101vw);
    }
}
