body {
    margin: 0;
    padding: 0; 
    background-color:gray;
    padding-top:10px;
}
#map { 
    position: absolute; 
    border-radius:10px; 
    width:95%; 
    top: 95px; 
    bottom: 10px;
    margin-left:2.5%;
}
#locInput{
    border-radius:5px;
    width:80%;
    height:70px;
    border:none;
}
#modeButton{
    border-radius:5px;
    width:70px;
    height:75px;
    margin:none;
    border:none;
    background-color:rgb(89, 130, 255);
}
#modeButton:hover {
    background-color:rgb(59, 92, 190);
}
#locationButton{
    border-radius:5px;
    width:70px;
    height:75px;
    margin:none;
    border:none;
    background-color:rgb(89, 130, 255);
    transform:translateY(6.5px);
    color:white;
}
#locationButton:hover {
    background-color:rgb(59, 92, 190);
}

#everythingbox{
    text-align:center;
    overflow-y:hidden;
}
#enterButton{
    background-color:rgb(89, 130, 255);
    width:80px;
    height:80px;
    border-radius:40px;
    color:white;
    text-align:center;
    display:block;
    position:absolute;
    transform:translate(93vw, 80vh);
}
@media (max-width: 800px){
    #locInput{
        width:60%;
    }
}

@keyframes slidein{
    100%{
        transform:translate(93vw, 80vh);
    }
}
@keyframes slideout{
    100%{
        transform:translate(101vw, 80vh);
    }
}

.dropdown {
    position: absolute;
    z-index:0;
    transform:translate(50px, 20px);
    border-radius:5px;
  }
  
  /* Style the dropdown button */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside dropdown content */
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content div:hover {
    background-color: #f1f1f1
  }
  
  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change background color of dropdown button on hover */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }